.new-collections {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     margin-bottom: 100px;
}
.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top: 50px;
    gap:30px;
}
@media(max-width:1024px){
    .new-collections{
         padding: 12px 30px;
    }
    .new-collections h1{
        font-size: 20px;
    }
    .new-collections hr{
        width: 140px;
        height: 3px;
    }
    .collections{
        gap: 25px;
        font-size: 14px; 
    }
}
@media(max-width:480px){
    .collections{
        grid-template-columns: 1fr 1fr ;
        gap:20px;
    }
    .new-collections h1{
        font-size: 18px;
    }
    .new-collections hr{
        width: 120px;
        height: 3px;
    }
}