.news-letter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px ;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%,#e1ffea22 60%);
    gap: 30px;
}
.news-letter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;

}
.news-letter p {
    color: #454545;
    font-size: 20px;

}
.news-letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.news-letter input{
    width: 500px;
    margin-left: 30px;
    border:none;
    outline: none;
    color: #616161;
    font-size: 16px;
}
.news-letter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media(max-width:1024px){
    .news-letter{
        width: 90%;
        height: 35vh;
        padding: 0px 30px ;
        gap: 20px;
    }
    .news-letter h1{
        font-size: 30px;
    }
    .news-letter p {
        font-size: 16px;
    }
    .news-letter div{
        width: 100%;
        height: 50px;
    }
    .news-letter input{
        width: 60%;
        font-size: 14px;
    }
    .news-letter div button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
}
@media(max-width:480px){
    .news-letter{
        height: 30vh;
        gap: 15px;
    }
    .news-letter h1{
        font-size: 25px;
    }
    .news-letter p {
        font-size: 14px;
    }
    .news-letter div{
        width: 100%;
        height: 40px;
    }
    .news-letter input{
        width: 55%;
        font-size: 12px;
    }
    .news-letter div button{
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
}